MODEL_API_BASE_URL=https://YOUR_WORKSPACE_ID.ap-southeast-1.maas.aliyuncs.com/compatible-mode/v1
MODEL_NAME=qwen3.7-plus
MODEL_PROVIDER=aliyun-model-studio
DASHSCOPE_API_KEY_FILE=../../secrets/dashscope_api_key
API_BIND_ADDRESS=127.0.0.1
API_PORT=8000
